<html>
    <head>
        <title>Sign up!</title>
    </head>
    <body>
        <h2>Sign up!</h2>
        <a href="/home">Home</a> <br>
        
        <form action="/signup/process" method="POST">
            <label for="email">Email: </label>
            <input type="email" name="email" placeholder="example@test.com" required> <br>

            <label for="firstname">First name: </label>
            <input type="text" name="firstname" required> <br>

            <label for="lastname">Last name: </label>
            <input type="text" name="lastname" required> <br>

            <label for="password">Password: </label>
            <input type="password" name="password" required> <br>

            <label for="password2">Password again: </label>
            <input type="password" name="password2" required> <br>

            <input type="submit">
        </form>
    </body>
</html>